kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  extraPortMappings:
  - containerPort: 30000
    hostPort: 30000
    listenAddress: "0.0.0.0"
- role: worker
  extraPortMappings:
  - containerPort: 30001
    hostPort: 3000
    listenAddress: "0.0.0.0"
  - containerPort: 30002
    hostPort: 8000
    listenAddress: "0.0.0.0"
